<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tanimojo-</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', path='../static/styles.css')}}"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <!-- <div class="container" id="drop-area">
      <div class="image_box" id="image-view">
        <form action="/lookalike" method="post" enctype="multipart/form-data">
          <label for="image">
            <br />
            <input type="file" name="image" id="input-file" accept="image/*" />
          </label>
        </form>
      </div>
      <p>{{embedding}}</p>
    </div> -->

    <div class="hero">
      <form
        action="/lookalike"
        method="post"
        enctype="multipart/form-data"
        id="drop-area"
      >
        <label for="input-file">
          <input type="file" accept="image/*" id="input-file" hidden />
          <div id="img-view">
            <img src="" />
            <p>
              drag and drop or click here <br />
              to upload image
            </p>
            <span>upload any image from device</span>
          </div>
        </label>
      </form>
      <p>{{embedding}}</p>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
